li{
display: inline-block;
border: 4px solid salmon;
padding: 5px;
margin: 7px;
background-color: rosybrown;
}
h1{
display: inline-block;
border: 8px solid rgb(99, 74, 91);
padding: 10px;
margin: 14px;
background-color: rgb(158, 10, 92);
}
p{
    background-color: rosybrown;
}
footer{
    text-align: right;
    color: rgb(238, 10, 200);
}
h2{
    color: rgb(238, 10, 200);
}
